.deps
.libs
Dat2drv
config.log
config.status
Makefile
libtool
*.gz
*~
\#*
.#*
*.lo
*.o
*.la
hplip.conf
hplip.list
prnt/hpcups/libImageProcessor.so
prnt/hpijs/auto-include.h
prnt/hpijs/platform.h
hp-uiscan.desktop
hplip-systray.desktop
hplip.desktop
ppd/hpijs
prnt/drv/hpcups.drv
prnt/drv/hpijs.drv
